.header {
    background-color: #F0F0F0;
    /* Color claro que contrasta con #143B58 */
    color: #143B58;
    /* Color del texto que contrasta con el fondo claro */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: fixed;
    top: 39px;
    /* Ajusta este valor para que esté justo debajo de la TopBar */
    width: 100%;
    z-index: 999;
    /* Asegúrate de que esté por debajo de la TopBar */
    border-bottom: 1px solid #ddd;
}

.title {
    margin: 0;
}

.languageSwitcher {
    display: flex;
    align-items: center;
}