.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f0f4f8;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td:first-child,
.table th:first-child {
    position: sticky;
    left: 0;
    background-color: #f0f4f8;
    z-index: 2;
}

.rightAlign {
    text-align: right;
}

@media (max-width: 600px) {

    .table th,
    .table td {
        padding: 4px;
        font-size: 0.9em;
    }

    .tableContainer {
        overflow-x: auto;
    }

    .table {
        display: table;
        width: 100%;
    }

    .table th,
    .table td {
        display: table-cell;
    }

    .table tr {
        display: table-row;
    }

    .table thead,
    .table tbody {
        display: table-header-group;
        display: table-row-group;
    }
}