/* LanguageSwitcher.module.css */

.languageSwitcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.flag {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.flag:hover {
    transform: scale(1.1);
}